<fieldset>
  <legend>Caching Settings</legend>
  <p>
    <label>Cache expiration time</label><%= text_field_tag 'settings[cache_seconds]', @settings['cache_seconds'] %> seconds
  </p>
  <p>
    Enter zero to disable caching. Make sure to configure config.cache_store in config/environments/<%= Rails.env %>.rb if you use the value &gt; 0.
  </p>
  <p>
    Current cache store is <%= Rails.cache.class.name %>
  </p>
</fieldset>
